Repository yiwiy9/wedding-invitation: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn generate-api-schema, eslint --fix, prettier --write

lint-staged test
  openapi.yml
Due: yarn generate-api-schema

lint-staged test 2
  .lintstagedrc.json
  generated/schema.ts
  openapi.yml
Due: yarn generate-api-schema, eslint --fix, prettier --write

lint-staged test
  generated/schema.ts
  openapi.yml
Due: yarn generate-api-schema, eslint --fix, prettier --write

Add for test
  generated/schema.ts
Due: eslint --fix, prettier --write

Add auto generated commit
  README.md
  generated/schema.ts
  openapi.yml
Due: yarn generate-api-schema, eslint --fix, prettier --write

Fix README for detail
  README.md
Due: prettier --write

Fix to execute entrypoint
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .devcontainer/entrypoint.sh
  .gitignore
  README.md
Due: prettier --write

Add CODEOWNERS
  .github/CODEOWNERS
Due: none

Fix README
  README.md
Due: prettier --write

Fix frontend ESLint
  README.md
  frontend/.eslintrc.json
  frontend/tsconfig.json
Due: prettier --write

learn react-form
  doc
  frontend/src/practice.tsx
  frontend/src/wedding_image.webp
Due: none

react-hook-form
  frontend/.eslintignore
  frontend/package.json
  frontend/src/practice.tsx
  frontend/yarn.lock
Due: prettier --write

react-hook-form2
  doc
  frontend/src/practice.tsx
Due: none

react-hook-form
  doc
  frontend/src/practice.tsx
  frontend/src/white_wall_hash.webp
Due: none

add modal
  doc
  frontend/package.json
  frontend/src/index.css
  frontend/src/practice.tsx
  frontend/yarn.lock
Due: prettier --write

Add react-router v6
  README.md
  frontend/package.json
  frontend/src/App.css
  frontend/src/App.test.tsx
  frontend/src/App.tsx
  frontend/src/index.tsx
  frontend/src/logo.svg
  frontend/src/routes/entry.tsx
  frontend/src/routes/error-boundary.tsx
  frontend/src/routes/index.tsx
  frontend/src/routes/root.tsx
  frontend/tsconfig.json
  frontend/yarn.lock
Due: prettier --write

Add API Client Setting & Mock Server
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  README.md
  frontend/.env.development
  frontend/.gitignore
  frontend/package.json
  frontend/src/config/index.ts
  frontend/src/index.tsx
  frontend/src/lib/fetcher.ts
  frontend/yarn.lock
  generated/schema.ts
  openapi.yml
Due: yarn generate-api-schema, eslint --fix, prettier --write

途中
  doc
  frontend/.eslintignore
  frontend/src/routes/entry.tsx
  frontend/src/routes/white_wall_hash.webp
Due: none

refactor
  doc
  frontend/.eslintignore
  frontend/src/practice.tsx
  frontend/src/routes/entry.tsx
Due: none

Add test component
  README.md
  frontend/src/index.tsx
  frontend/src/routes/test.tsx
  generated/schema.ts
  openapi.yml
Due: yarn generate-api-schema, eslint --fix, prettier --write

add children1
  doc
  frontend/src/routes/entry.tsx
Due: none

children
  doc
  frontend/src/routes/entry.tsx
Due: none

any type
  doc
  frontend/src/routes/entry.tsx
Due: none

Fix route config and eslint
  README.md
  frontend/.eslintrc.json
  frontend/src/App.tsx
  frontend/src/index.tsx
  frontend/src/lib/fetcher.ts
  frontend/src/routes/test.tsx
Due: eslint --fix, prettier --write

type of errors
  doc
  frontend/src/routes/entry.tsx
Due: none

Add React Router Action and React Hook Form
  .eslintrc.json
  README.md
  backend/handler.ts
  frontend/.eslintrc.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/reportWebVitals.ts
  frontend/src/routes/error-boundary.tsx
  frontend/src/routes/test.tsx
  frontend/yarn.lock
  generated/schema.ts
  openapi.yml
Due: yarn generate-api-schema, eslint --fix, prettier --write

Fix API schema
  frontend/src/lib/fetcher.ts
  frontend/src/routes/test.tsx
  generated/schema.ts
  openapi.yml
Due: yarn generate-api-schema, eslint --fix, prettier --write

Add api error handling
  frontend/src/routes/test.tsx
  generated/schema.ts
  openapi.yml
Due: yarn generate-api-schema, eslint --fix, prettier --write

Add isLoading state
  frontend/src/routes/test.tsx
Due: none

y
  .DS_Store
  doc
  frontend/src/routes/entry.tsx
Due: none

eslint clear
  doc
  frontend/.eslintignore
  frontend/src/routes/entry.tsx
Due: none

Fix PostUser Schema
  generated/schema.ts
  openapi.yml
Due: yarn generate-api-schema, eslint --fix, prettier --write

s
  doc
  frontend/src/routes/entry.tsx
  frontend/src/routes/white_wall_hash.webp
Due: none

Rename `Test` into `Sample`
  README.md
  frontend/src/App.tsx
  frontend/src/lib/fetcher.ts
  frontend/src/routes/sample.tsx
  generated/schema.ts
  openapi.yml
Due: yarn generate-api-schema, eslint --fix, prettier --write

a
  doc
  frontend/package.json
  frontend/src/routes/entry.tsx
  frontend/yarn.lock
Due: prettier --write

Remove library
  doc
  frontend/package.json
  frontend/src/routes/entry.tsx
  frontend/yarn.lock
Due: prettier --write

Path conditions:
  yarn generate-api-schema: any of: openapi.yml
  eslint --fix: any of: *.{js,ts}
  prettier --write: any of: *.{js,ts,json,md}
